*{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

h1{
  margin: 10px;
  text-align: center;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  padding-top: 300px;
}

input{
  width: 500px;
  height: 30px;
}

button{
  width: auto;
  height:40px;
  box-shadow: 2px 2px 1px #3A3D9D;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

}
video{
  width: 200px;
  height: 100%;
}
.form{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.videos{
  display: none;
  justify-content: space-between;

}
.active{
  display: flex;
}

.videos div{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.right {
  text-align: right;
}

.w-100{
  width: 100%;
}

.chat-area {
  width: 100%;
  height: 50%;
}
